*{
    margin: auto 0;
    padding: 0;
    }

header{
    background-color: rgba(229, 84, 115, 0.10);
   
}
.continer{
    display: flex;
    margin: 00px 20px 00px 40px;
    align-content: space-around;
}
.heading{
    align-content: space-around;
}
.heading h2{
    color: #272727;
    font-size: 25px;
    margin-bottom: 10px;
}

.heading p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 10px;
    
}
.heading button{
    background-color: #E55473;
    border: none;
    border-radius: 5px;
    padding: 10px 23px;
    color: aliceblue;
}
.imges img{
    width: 190px;
    margin-bottom: -4px;
    padding-top: 10px;
    margin-left: 40px;
}
.flowers{
    text-align: center;
    margin-top: 40px;
  
}
.flowers h3{
   font-size: 15px; 
   color: #272727;
   font-weight: 400;
}
.flowers p{
    font-size: 10px;
    color: #272727; 
    font-weight: 200;
}
.flower-item{
    display: flex;
}
